/* 폰트 */
@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KIMM_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* FoodMain */
.MainImg {
  background-image: url("../Img/FoodMain/FoodMainBack.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}

.MainCenterImg {
  width: 450px;
  /* 기본 크기 */
  height: 445px;
  /* 기본 크기 */
  position: absolute;
  top: 50%;
  /* 화면 상단과 하단의 중간 위치에 배치 */
  left: 50%;
  /* 화면 좌우 중앙에 배치 */
  transform: translate(-50%, -50%);
  /* 정확한 중심 정렬 */

  /* 반응형 스타일 */
  @media (max-width: 767px) {
    width: 90%;
    /* 화면 너비에 맞춰진 90% 크기로 변경 */
    height: auto;
    /* 비율 유지를 위해 높이를 자동으로 설정 */
    max-width: 450px;
    /* 최대 크기를 450px로 제한 */
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 70%;
    /* 화면 너비에 맞춰진 70% 크기로 변경 */
    height: auto;
    /* 비율 유지를 위해 높이를 자동으로 설정 */
    max-width: 450px;
    /* 최대 크기를 450px로 제한 */
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 50%;
    /* 화면 너비에 맞춰진 50% 크기로 변경 */
    height: auto;
    /* 비율 유지를 위해 높이를 자동으로 설정 */
    max-width: 450px;
    /* 최대 크기를 450px로 제한 */
  }
}

.Maintext {
  width: 400px;
  /* 기본 크기 */
  height: 120px;
  /* 기본 크기 */
  position: absolute;
  top: 10%;
  /* 화면 상단과 하단의 중간 위치에 배치 */
  left: 50%;
  /* 화면 좌우 중앙에 배치 */
  transform: translate(-50%, -50%);
  /* 정확한 중심 정렬 */

  /* 반응형 스타일 */
  @media (max-width: 767px) {
    width: 80%;
    /* 화면 너비에 맞춰진 80% 크기로 변경 */
    height: auto;
    /* 비율 유지를 위해 높이를 자동으로 설정 */
    max-width: 400px;
    /* 최대 크기를 400px로 제한 */
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 60%;
    /* 화면 너비에 맞춰진 60% 크기로 변경 */
    height: auto;
    /* 비율 유지를 위해 높이를 자동으로 설정 */
    max-width: 400px;
    /* 최대 크기를 400px로 제한 */
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 40%;
    /* 화면 너비에 맞춰진 40% 크기로 변경 */
    height: auto;
    /* 비율 유지를 위해 높이를 자동으로 설정 */
    max-width: 400px;
    /* 최대 크기를 400px로 제한 */
  }
}

.MainButtonImg {
  position: absolute;
  width: 200px;
  /* 크기를 200px로 설정 */
  bottom: 5%;
  /* MainCenterImg 아래에 5% 위치에 배치 */
  left: 50%;
  /* 화면 좌우 중앙에 배치 */
  transform: translateX(-50%);
  /* 정확한 중심 정렬 */
  /* 원하는 스타일 */

  /* 반응형 스타일 */
  @media (max-width: 767px) {
    width: 150px;
    /* 크기를 150px로 줄임 */
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 180px;
    /* 크기를 180px로 줄임 */
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    width: 160px;
    /* 크기를 160px로 줄임 */
  }
}

/* FoodNav */
.NavAll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  /* 네비게이션 바를 상단에 고정 */
  top: 0;
  /* 네비게이션 바를 상단에 배치 */
  width: 100%;
  /* 네비게이션 바를 화면 전체 너비로 설정 */
  z-index: 9999;


  /* 반응형 스타일 */
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px;
  color: coral;
  font-family: 'LeferiPoint-BlackA';
}

.NavSubtop {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  font-family: 'LeferiPoint-BlackA';

  /* 반응형 스타일 */
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.NavSub {
  text-decoration: none;
  color: coral;
  padding-right: 10px;

  /* 반응형 스타일 */
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: flex-end;
    margin: 2px;
    /* 사이 간격 2px로 조정 */
  }
}


/* FoodSearch */
.Mapdiv {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
}

.Searchall {
  position: absolute;
  top: 15%;
  left: 13%;
  transform: translate(-50%, 0%);
}

.Searchsub {
  margin: 10px;
}

/* FoodFound */
.FoundImg {
  background-image: url("../Img/FoodFound/FoundBackImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}

.FoundText1 {
  font-family: 'KIMM_Bold';
  letter-spacing: 10px;
  position: absolute;
  top: 8%;
  left: 1%;
}

.FoundText2 {
  font-family: 'KIMM_Bold';
  letter-spacing: 10px;
  position: absolute;
  top: 16%;
  left: 3%;
}

input[type=checkbox] {
  zoom: 1.5;
}

.checkboxLabel {
  font-family: 'KIMM_Bold';
  font-size: 25px;
}

.FoodFoundChkdiv {
  display: inline-flex;
  position: absolute;
  line-height: 40px;
  top: 26%;
  left: 3%;
}

.FoundText3 {
  font-family: 'KIMM_Bold';
  letter-spacing: 10px;
  position: absolute;
  top: 16%;
  left: 30%;
}

.FoodFoundChkdiv2 {
  display: inline-flex;
  position: absolute;
  line-height: 40px;
  top: 26%;
  left: 30%;
}

.FoundFindBt {
  width: 200px;
  height: 60px;
  position: absolute;
  bottom: 10%;
  right: 5%;
}

/* 모바일 화면 */
@media (max-width: 767px) {
  .FoundText1 {
    font-size: 15px;
    letter-spacing: 4px;
  }
  .FoundText2 {
    font-size: 15px;
    letter-spacing: 4px;
  }
  .FoundText3 {
    font-size: 15px;
    letter-spacing: 4px;
    left: 45%;
  }
  .FoodFoundChkdiv {
    flex-direction: column;
    line-height: 10px;
    top: 26%;
    left: 2%;
  }
  .checkboxLabel {
    font-size: 13px;
  }

  .FoodFoundChkdiv2 {
    flex-direction: column;
    top: 26%;
    left: 60%;
    transform: translateX(-50%);
  }
  .FoundFindBt {
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 3%;
    right: 10%;
  }
}
/* 테블릿 세로 화면 */
@media (min-width: 768px) and (max-width: 991px) {
  /* 여기에 테블릿 세로 화면에 맞는 CSS를 추가하세요. */
  .FoundText1 {
    top: 7%;
    left: 3%;
  }
  
  .FoundText2 {
    top: 15%;
    left: 5%;
  }
  .FoundText3 {
    top: 15%;
    left: 45%;
  }
  .FoodFoundChkdiv {
    top: 23%;
  }
  .FoodFoundChkdiv2 {
    top: 23%;
    left: 46%;
  }
  .FoundFindBt {

  }
  
  
  /* 추가적인 반응형 스타일을 적용하세요. */
}

/* 테블릿 가로 화면 */
@media (min-width: 992px) and (max-width: 1199px) {
  /* 여기에 테블릿 가로 화면에 맞는 CSS를 추가하세요. */
  .FoundImg {
    height: 100vh;
  }
  
  .FoundText1 {
    top: 8%;
    left: 2%;
  }
  
  .FoundText2 {
    top: 17%;
    left: 4%;
  }
  .FoundText3 {
    top: 17%;
    left: 40%;
  }
  .FoodFoundChkdiv2 {
    top: 26%;
    left: 42%;
  }

}

/* FoodLogin */
.LoginBackImg {
  background-image: url("../Img/FoodLogin/LoginBackImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
}

.Loginsub {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  width: 560px;
  height: 80px;
  background-size: cover;
  position: relative;
}

.Loginsub input {
  width: 460px;
  height: 70px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 10%;
  border: none;
  padding: 5px;
  position: absolute;
  left: 16%;

}

.Inputdiv {
  position: absolute;
  top: 25%;
  left: 32%;

}

.LoginBt {
  width: 300px;
  height: 90px;
  position: absolute;
  bottom: 20%;
  right: 39%;
}


/* FoodList */

.ListRow{
  position: absolute;
  top: 12%;
  left: 2%;
  font-family: 'ChosunGu';
  font-size: 17px;
}
td {
  padding: 5px;
}

.PageBt {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}