/* 반응형 스타일 */
@media (max-width: 600px) {
    /* 화면 너비가 600px 이하일 때 적용되는 스타일 */
    .CenterCon {
      bottom: 20%; /* 작은 화면에서는 MainCenterImg를 하단 기준으로 20% 지점에 배치 */
    }
  
    .Maintext {
      bottom: 30%; /* 작은 화면에서는 Maintext를 MainCenterImg 위쪽으로 30% 지점에 배치 */
      font-size: 18px; /* 작은 화면에서는 텍스트 크기를 조정 */
    }
  }
  
  .MainImg {
    /* 배경 이미지 속성 설정 */
    background-image: url("../Img/FoodMain/FoodMainBack.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    /* 추가적인 스타일을 넣으세요 */
    position: relative; /* MainImg 컨테이너에 position: relative 추가 */
  }
  
  .CenterCon {
    position: absolute;
    bottom: 50%; /* MainCenterImg를 페이지 기준으로 하단 50% 지점에 배치 */
    left: 50%;
    transform: translate(-50%, 50%); /* MainCenterImg를 가로, 세로 기준 모두 중앙에 위치시킴 */
  }
  
  .MainCenterImg {
    width: 100%;
  }
  
  .Maintext {
    position: absolute;
    bottom: 70%; /* Maintext를 MainCenterImg 위쪽으로 70% 지점에 배치 (하단에서 70% 떨어진 위치) */
    left: 50%;
    transform: translate(-50%, 0); /* Maintext를 가로 기준 중앙에 위치시킴 */
    max-width: 80%; /* 필요에 따라 Maintext의 최대 너비를 조정하세요 */
  }
  
  .MainButtonImg {
    /* MainButtonImg 스타일은 수정하지 않아도 됩니다. */
    display: inline-block;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
  }
  